@model BibliotecaNA.Models.Domain.Livro
@{
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Atualizar livros</h3>
            <form asp-action="Update" method="post">
                <input type="hidden" class="form-control" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Title">Título *</label>
                    <input type="text" class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GenreId">Gênero *</label>
                    <select asp-for="GenreId" asp-items="Model.GenreList" class="form-control">
                        <option value="">--select--</option>
                    </select>
                    <span asp-validation-for="IdGenero" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Isbn">Isbn *</label>
                    <input type="text" class="form-control" asp-for="Isbn" />
                    <span asp-validation-for="Isbn" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TotalPages">Número de páginas *</label>
                    <input type="number" class="form-control" asp-for="TotalPages" />
                    <span asp-validation-for="TotalPages" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="AuthorId">Autor *</label>
                    <select asp-for="AuthorId" asp-items="Model.AuthorList" class="form-control">
                        <option value="">--select--</option>
                    </select>
                    <span asp-validation-for="IdAutor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title">Editora *</label>
                    <select asp-for="PubhlisherId" asp-items="Model.PublisherList" class="form-control">
                        <option value="">--select--</option>
                    </select>
                    <span asp-validation-for="IdEditora" class="text-danger"></span>
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        @TempData["msg"]
                    </div>
                }
                <div class="form-group pt-3 d-flex gap-4">
                    <button type="submit" class="btn btn-dark"><i class="bi bi-save"></i> Adicionar</button>
                    <a href="/Book/GetAll" class="btn btn-primary"> <i class="bi bi-list"></i>Listar livros</a>
                </div>
            </form>
        </div>
    </div>
</div>
